<main>
    	<div class="container-fluid">
    			<div class="jumbotron mid col-md-12 caja1">
    				<div class="row justify-content-md-center">
    					<h1 id="titulo" class="lead"><strong>Inicio de Sesion</strong></h1>
    				</div>
	    			<div class="row justify-content-md-center">
		    			<div style="" class="jumbotron mid col-md-6 caja2">
	    					<div class="row justify-content-md-center">
		    					<form action="" class="form-horizontal col-md-8">
		    						<div class="form-group has-error">
	    								<label for="Usuario" class=" control-label"><p class="letra"><strong>Usuario/Correo Electronico: </strong> </p></label>
	    								<input class="form-control" type="text" name="usuario" placeholder="Correo Electronico">
	    							</div>
	    						</form>
	    					</div>
		    				<div class="row justify-content-md-center">
		    					<form action="" class="form-horizontal col-md-8">
		    						<div class="form-group">
		    							<label for="Contraseña" class=" control-label"><p class="letra"><strong>Contraseña: </strong></p></label>
		    							<input class="form-control" type="text" name="contraseña" placeholder="contraseña">
	    							</div>
	    						</form>
	    					</div>
	    				</div>
    				</div>
    				<div class="row col-md-8 offset-md-2 botones">
	    				<form action="" class="form-horizontal col-md-3 offset-md-2">
    						<div class="">
								<div class="">
									<a routerLink='/menu'><button class="btn btn-block btn-success btn-lg" type="button" name="button">Aceptar</button></a>
								</div>
							</div>
    					</form>
    					<form action="" class="form-horizontal col-md-3 offset-md-2">
    						<div class="">
								<div class="">
									<a routerLink=''><button class="btn btn-block btn-success btn-lg" type="button" name="button">Cancelar</button></a>
								</div>
							</div>
    					</form>
    				</div>
    			</div>
    	</div>
    </main>
