<!--The content below is only a placeholder and can be replaced.-->
<!-- <router-outlet></router-outlet> -->
<div class="d-flex justify-content-between imag">
		<div class="col-sm-4 col-md-4" style="text-align: center;">
          <img class="minilogo" src="src/assets/h1.png" alt="Icono Gobierno Edomex">
        </div>
        <div class="col-sm-4 col-md-4" style="text-align: center;">
          <img class="edoicon" src="src/assets/Edomex2.png" alt="Logo Edomex">
        </div>
        <div class="col-sm-4 col-md-4" style="text-align: center;">
          <img class="cecicon" src="src/assets/cecytem.jpg" alt="Logo cecytem">
        </div>
      <br>
    </div>
    <div class="container-fluid">
      <div class="row borde">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 encabezado">
          <p class="texto">Colegio de Estudios Científicos y Tecnológicos del Estado de México</p>
        </div>
      </div>
      <div class="row secretaria">
      	<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 encabezado">
          <p class="texto">Secretaría de Educación</p>
        </div>
      </div>
    </div>
<router-outlet></router-outlet>
