.card-header{
  background: white;
}
.imag{
  text-align: center;
}
.edoicon{
  width: 200px;
  height: 100px;
}
.cecicon{
  width: 90px;
  height: 75px;
  margin-right: 60px;
  margin-top: 7px;
}
.minilogo{
  width: 250px;
  height: 75px;
  margin-left: 10px;
  margin-top: 7px;
}
.texto{
  font-family: Helvetica;
  color: #5A6523;
  background-color: #F8F8F8;
}
h1{
    font-size: 1.5rem;
}
h2{
    font-size: 1.4rem;
}
