.imag{
  text-align: center;
}
.edoicon{
  width: 200px;
  height: 100px;
}
.cecicon{
  width: 90px;
  height: 75px;
  margin-right: 60px;
  margin-top: 7px;
}
.minilogo{
  width: 250px;
  height: 75px;
  margin-left: 10px;
  margin-top: 7px;
}
.texto{
  font-family: Helvetica;
  color: #5A6523;
  font-size: 25px;
}
.encabezado{
  text-align: center;
}
.borde{
  background-color: #F8F8F8;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color:#ccc;
  border-bottom-color:rgb(135, 158, 15);
  border-bottom-width:3px;
  border-top-width: 3px;
}
.secretaria{
  background-color: #F8F8F8;
  border-bottom-style:solid;
  border-bottom-color:#ccc;
  border-bottom-width: 1px;
  height: 45px;
}
