<header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1"><span class="navbar-toggler-icon" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation"></span></button>
            <div class="collapse navbar-collapse" id="navbar1">
                <ul class="navbar-nav mr-auto">
                    <li>
                        <a routerLink='user/perfil-usuario' class="nav-item navbar-brand"><span><img src="assets/svg/si-glyph-person-2.svg" id="perfil" /><span class="sr-only" id="texto"> Perfil de Usuario</span></span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link"><strong>Home</strong><span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><strong>Features</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><strong>Pricing</strong></a>
                    </li>
                </ul>
                <form class= "form-inline navbar-form navbar-right">
                    <a routerLink='user/login'><button class= "bt btn btn-outline-success" type= "button" ><span><strong>Cerrar Sesion</strong></span></button></a>
                </form>
                <div class="divider"></div>
            </div>
        </nav>
</header>
<main>
        <div class="container-fluid clearfix menuD">
            <div class="container-fluid">
                <div class="card cuerpo">
                    <div class="card-body text-center">
                        <div class="row botones">
                            <div class="col-md-12 botones">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <a routerLink=''><button class="btn btn-info btn-lg" type="button" name="button">Mis Planeaciónes Estratégicas</button></a>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-12 botones">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <a routerLink='/buscar-pe'><button class="btn btn-info btn-lg" type="button" name="button">Buscar Planeación Estratégica</button></a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row botones">
                            <div class="col-md-12 botones">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <a routerLink='/elaboracion-pe'><button class="btn btn-info btn-lg" type="button" name="button">LLenar Planeación Estratégica</button></a>
                                    </div>
                                </form>
                            </div>
                            <div class="col-md-12 botones">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <a routerLink='/modificar-pe'><button class="btn btn-info btn-lg" type="button" name="button">Modificar Planeación Estratégica</button></a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid clearfix menuA">
            <div class="container-fluid">
                    <div class="card col-md-8 offset-md-2">
                        <img class="card-img" src="imagenes/TEQUIXQUIAC 1.png" alt="Imagen del Plantel de TEQUIXQUIAC">
                        <div class="card-img-overlay text-center">
                            <form class="form-horizontal botonesA">
                                <div class="form-group">
                                    <a href="mis_pe.html"><button class="btn btn-info btn-lg" type="button" name="button">Verificar<br>Planeación Estratégica</button></a>
                                </div>
                            </form>
                            <form class="form-horizontal botonesA">
                                <div class="form-group">
                                    <a href="mis_pe.html"><button class="btn btn-info btn-lg" type="button" name="button">Buscar<br>Planeación Estratégica</button></a>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
        <div class="container-fluid clearfix menuS">
            <div class="container-fluid">
                    <div class="card col-md-8 offset-md-2">
                        <img class="card-img" src="imagenes/TEQUIXQUIAC 1.png" alt="Imagen del Plantel de TEQUIXQUIAC">
                        <div class="card-img-overlay text-center">
                            <form class="form-horizontal">
                                <div class="form-group botones2">
                                    <a href="mis_pe.html"><button class="btn btn-info btn-lg" type="button" name="button">Buscar<br>Planeación Estratégica</button></a>
                                </div>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
        <div class="container-fluid clearfix menuM">
            <div class="container-fluid">
                    <div class="card cuerpo">
                        <div class="card-body text-center">
                                <div class="row botones">
                                    <div class="col-md-12 botones">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <a href="mis_pe.html"><button class="btn btn-info btn-lg" type="button" name="button">Registrar Usuario</button></a>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-12 botones">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <a href="mis_pe.html"><button class="btn btn-info btn-lg" type="button" name="button">Registar Asignatura</button></a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="row botones">
                                    <div class="col-md-12 botones">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <a href="mis_pe.html"><button class="btn btn-info btn-lg" type="button" name="button">Solicitud de Contraseña</button></a>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="col-md-12 botones">
                                        <form class="form-horizontal">
                                            <div class="form-group">
                                                <a href="mis_pe.html"><button class="btn btn-info btn-lg" type="button" name="button">Base de Datos<br>de<br>Planeación Estratégica</button></a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                        </div>
                    </div>
            </div>
        </div>
</main>
