<<main>
  <div class="container-fluid">
   <div class="row justify-content-md-center">
     <div style="background:#F8F8F8; border-top-color:#ccc; border-top-style: solid; border-bottom-color: #ccc; border-bottom-style: solid; border-radius: 3px;" class="jumbotron mid col-md-5 <! El numero indica el ancho del jumbotron> ">
       <h4 style="font-family: Helvetica; font-size: 24px; color: #5A6523;">BIENVENIDO</h4>
       <a routerLink='/login'><button class="btn btn-primary btn-lg" type="button" name="button">Iniciar Sesión</button></a>
       <a routerLink='/registro'><button class="btn btn-primary btn-lg" type="button" name="button2">Crear Usuario</button></a>
     </div>
   </div>
 </div>
</main>
<a routerLink='/login'>Login</a>
